/***** TABLE OF CONTENTS *****/
/* 1. Font
/* 2. Colors
/* 3. General UI
/* 4. Markdown (editor / preview)
/*     4.1. Title
/*     4.2. Headings
/*         4.2.1. Fix heading weights
/*         4.2.2. Fix heading margins
/***** *****/

/** 1. Font */
body {
    --font-monospace: "Courier New", monospace;
    -webkit-font-smoothing: auto;
}

/** 2. Colors */
.theme-dark {
    --background: #1d1f21;
    --foreground: #c5c8c6;
    --mono-rgb-0: 29, 31, 33;
    --mono-rgb-100: 197, 200, 198;
    --color-red-rgb: 165, 66, 66;
    --color-red: #a54242;
    --color-orange-rgb: 222, 147, 95;
    --color-orange: #de935f;
    --color-yellow-rgb: 224, 222, 113;
    --color-yellow: #e0de71;
    --color-green-rgb: 140, 148, 64;
    --color-green: #8c9440;
    --color-teal-rgb: 94, 141, 135;
    --color-teal: #5e8d87;
    --color-blue-rgb: 95, 129, 157;
    --color-blue: #5f819d;
    --color-purple-rgb: 178, 148, 187;
    --color-purple: #b294bb;
    --color-pink-rgb: 104, 102, 102;
    --color-pink: #cc6666;
    --color-base-00: #1d1f21;
    --color-base-05: #252729;
    --color-base-10: #2e3032;
    --color-base-20: #3f4142;
    --color-base-25: #47494a;
    --color-base-30: #4f5252;
    --color-base-35: #585a5b;
    --color-base-40: #606363;
    --color-base-50: #717774;
    --color-base-60: #828484;
    --color-base-70: #9c9594;
    --color-base-100: #c5c8c6;
body {
    --inline-title-color: #707880; /** #TODO: Relocate this tag from here */
    --h1-color: var(--color-orange);
    --h2-color: var(--color-yellow);
    --h3-color: var(--color-green);
    --h4-color: var(--color-teal);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
}

/** 3. Generic UI */
/** 4. Markdown (editor / preview) */
/** 4.1. Title */
/** 4.2. Headings */
/** 4.2.1. Fix heading weights */
body {
    --h1-weight: 300;
    --h2-weight: 100;
    --h3-weight: 100;
    --h4-weight: 100;
    --h5-weight: 100;
    --h6-weight: 100;
}

/** 4.2.1. Fix heading margins */
.markdown-rendered h1 {
    margin-block-end: 0;
}

.markdown-rendered h2 {
    margin-block-end: 0;
}

.markdown-rendered h3 {
    margin-block-end: 0;
}

.markdown-rendered h4 {
    margin-block-end: 0;
}

.markdown-rendered h5 {
    margin-block-end: 0;
}

.markdown-rendered h6 {
    margin-block-end: 0;
}

.markdown-rendered p {
    margin-block-start: 0;
}

body {
    --radius-s: 0px;
    --radius-m: 0px;
    --radius-l: 0px;
    --input-radius: 0px;
    --tab-radius-active: 0px;
    --checkbox-radius: 0px;
    --toggle-radius: 0px;
    --toggle-thumb-radius: 0px;
    --slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
    display: none;
}

svg * {
    stroke-linecap: square;
    stroke-linejoin: miter;
    rx: 0;
    ry: 0;
}

.menu {
    padding: var(--size-2-1);
}

.menu-item {
    padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
    margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
