@import  "base/src/base";

/***** TABLE OF CONTENTS *****/
/* 1. Font
/* 2. Colors
/* 3. General UI
/*     3.1. Title Bar
/*         3.1.2. Fix tab header padding
/*     3.2. Status Bar
/*         3.2.1. Fix status bar border
/*         3.2.2. Fix status bar padding
/*     3.3. Sidebar
/*         3.3.1. Fix sidebar padding
/* 4. Markdown (editor / preview)
/*     4.1. Title
/*     4.2. Headings
/*         4.2.1. Fix heading weights
/*         4.2.2. Fix heading space
/*     4.3. Task Lists
/*         4.3.1. Fix checkbox style
/*         4.3.2. Fix checkbox tick style
/*     4.4. Blockquotes
/*         4.4.1. Fix blockquote margin
/*         4.4.2. Fix blockquote border
/*         4.4.3. Fix formatting quote >
/*     4.5. Horizontal rules
/*         4.5.1. Fix horizontal rule margin
/*         4.5.2. Fix horizontal rule thickness
/*     4.6. Tables
/*         4.6.1. Fix table element padding
/*     4.7. Code blocks
/*         4.7.1. Fix code block font size
/*     4.8. Lists
/*         4.8.1. Fix list bullet radius
/***** *****/

/** 1. Font */
body {
    --font-monospace: "Courier New", monospace;
    -webkit-font-smoothing: auto;
}

/** 2. Colors */
.theme-dark {
    --mono-rgb-0: @color-ee-base-00-rgb;
    --mono-rgb-100: @color-ee-base-100-rgb;
    --color-red-rgb: @color-red-3-rgb;
    --color-red: @color-red-3;
    --color-orange-rgb: @color-orange-3-rgb;
    --color-orange: @color-orange-3;
    --color-yellow-rgb: @color-yellow-3-rgb;
    --color-yellow: @color-yellow-3;
    --color-green-rgb: @color-green-0-rgb;
    --color-green: @color-green-0;
    --color-teal-rgb: @color-teal-0-rgb;
    --color-teal: @color-teal-0;
    --color-cyan: var(--color-teal);
    --color-cyan-rgb: var(--color-teal-rgb);
    --color-blue-rgb: @color-blue-1-rgb;
    --color-blue: @color-blue-1;
    --color-purple-rgb: @color-purple-2-rgb;
    --color-purple: @color-purple-2;
    --color-pink-rgb: @color-pink-0-rgb;
    --color-pink: @color-pink-0;
    --color-base-00: @color-ee-base-00;
    --color-base-05: @color-ee-base-05;
    --color-base-10: @color-ee-base-10;
    --color-base-20: @color-ee-base-20;
    --color-base-25: @color-ee-base-25;
    --color-base-30: @color-ee-base-30;
    --color-base-35: @color-ee-base-35;
    --color-base-40: @color-ee-base-40;
    --color-base-50: @color-ee-base-50;
    --color-base-60: @color-ee-base-60;
    --color-base-70: @color-ee-base-70;
    --color-base-100: @color-ee-base-100;
    --background-secondary-alt: var(--color-base-20);
}

.theme-light {
    --mono-rgb-0: @color-ee-base-100-rgb;
    --mono-rgb-100: @color-ee-base-00-rgb;
    --color-red-rgb: @color-red-4-rgb;
    --color-red: @color-red-4;
    --color-orange-rgb: @color-orange-4-rgb;
    --color-orange: @color-orange-4;
    --color-yellow-rgb: @color-yellow-4-rgb;
    --color-yellow: @color-yellow-4;
    --color-green-rgb: @color-green-4-rgb;
    --color-green: @color-green-4;
    --color-teal-rgb: @color-teal-0-rgb;
    --color-teal: @color-teal-0;
    --color-cyan: var(--color-teal);
    --color-cyan-rgb: var(--color-teal-rgb);
    --color-blue-rgb: @color-blue-0-rgb;
    --color-blue: @color-blue-0;
    --color-purple-rgb: @color-purple-4-rgb;
    --color-purple: @color-purple-4;
    --color-pink-rgb: @color-pink-4-rgb;
    --color-pink: @color-pink-4;
    --color-base-00: @color-ee-base-95;
    --color-base-05: @color-ee-base-90;
    --color-base-10: @color-ee-base-85;
    --color-base-20: @color-ee-base-75;
    --color-base-25: @color-ee-base-70;
    --color-base-30: @color-ee-base-65;
    --color-base-35: @color-ee-base-60;
    --color-base-40: @color-ee-base-55;
    --color-base-50: @color-ee-base-45;
    --color-base-60: @color-ee-base-35;
    --color-base-70: @color-ee-base-25;
    --color-base-100: @color-ee-base-00;
    --background-secondary-alt: var(--color-base-20);
}

body {
    --accent-h: @color-teal-0-h;
    --accent-s: @color-teal-0-s;
    --accent-l: @color-teal-0-l;
    --inline-title-color: var(--color-base-50);
    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-green);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
    --background-primary-alt: var(--color-base-05);
    --background-secondary: var(--color-base-10);
    --background-modifier-hover: rgba(var(--mono-rgb-0), 0.5);
    --text-highlight-bg-rgb: var(--color-yellow-rgb);
    --background-modifier-border: var(--color-base-20);
    --modal-border-color: var(--color-base-30, var(--background-modifier-border-focus))
}

.canvas-node.is-themed .canvas-node-content {
    background-color: rgba(var(--canvas-color), 0);
}

/** 3. Generic UI */
/** 3.1. Title Bar */
/** 3.1.2. Fix tab header padding */
.workspace .mod-root .workspace-tab-header-inner-title {
    padding-top: 0.4rem;
    padding-left: 0.4rem;
}

/* 3.2. Status Bar */
/* 3.2.1. Fix status bar border */
body {
    --status-bar-border-width: 0;
}

/* 3.2.2. Fix status bar padding */
.status-bar {
    padding-top: var(--size-2-3);
}

/* 3.3. Sidebar */
/* 3.3.1. Fix sidebar padding */
.nav-file-title-content, .nav-folder-title-content, .tree-item-inner {
    padding-top: 2px;
}

/** 4. Markdown (editor / preview) */
/** 4.1. Title */
body {
    --inline-title-style: italic;
    --inline-title-weight: 50;
    --inline-title-size: var(--h3-size);
}

/** 4.2. Headings */
/** 4.2.1. Fix heading weights */
.theme-dark {
    --h1-weight: 300;
    --h2-weight: 300;
    --h3-weight: 300;
    --h4-weight: 300;
    --h5-weight: 300;
    --h6-weight: 300;
}

.theme-light {
    --h1-weight: 500;
    --h2-weight: 400;
    --h3-weight: 400;
    --h4-weight: 400;
    --h5-weight: 400;
    --h6-weight: 400;
}

/** 4.2.2 Fix heading space */
body {
    --heading-spacing: calc(var(--p-spacing) * 1.5)
}

/** 4.2.1. Fix heading margins */
.markdown-rendered h1 {
    margin-block-end: 0;
}

.markdown-rendered h2 {
    margin-block-end: 0;
}

.markdown-rendered h3 {
    margin-block-end: 0;
}

.markdown-rendered h4 {
    margin-block-end: 0;
}

.markdown-rendered h5 {
    margin-block-end: 0;
}

.markdown-rendered h6 {
    margin-block-end: 0;
}

.markdown-rendered p {
    margin-block-start: 0.2rem;
}

/** 4.3. Task Lists */
/** 4.3.1. Fix checkbox style */
body {
    --checkbox-radius: 10px;
}

/** 4.3.2. Fix checkbox tick style */
input[type=checkbox]
{
    border: 1px solid var(--checkbox-color);
}

input[type=checkbox]:checked
{
    background-color: var(--checkbox-color);
    box-shadow: inset 0 0 0 3px var(--background-primary);
}

input[type=checkbox]:checked:after
{
    display: none;
    -webkit-mask-size: 75%;
}

/** 4.4. Blockquotes */
/** 4.4.1. Fix blockquote margin */
blockquote {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

/** 4.4.2. Fix blockquote border */
body {
    --blockquote-border-thickness: 4px;
}

/** 4.4.3. Fix formatting quote > */
.cm-s-obsidian span.cm-formatting-quote {
    margin-left: 2px;
}

/** 4.5. Horizontal rules /*/
/** 4.5.1. Fix horizontal rule margin */
hr {
    margin: 1.5rem 0;
}

/** 4.5.2. Fix horizontal rule thickness */
body {
    --hr-thickness: 1px;
}

/** 4.6. Tables */
/** 4.6.1. Fix table element padding */
.markdown-rendered td, .markdown-rendered th {
    padding: var(--size-4-2);
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper {
    padding: var(--size-4-2);
}

/** 4.7. Code blocks */
/** 4.7.1. Fix code block font size */
body {
    --code-size: --font-normal;
}

/** 4.8. Lists */
/** 4.8.1. Fix list bullet radius */
body {
    --list-bullet-radius: 40%;
    --list-bullet-size: 0.4em;
    --indentation-guide-width: 2px;
}
